
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAFUlEQVQIHWM8eubKfwY0wMbGAhYBAForA3b5DHEDAAAAAElFTkSuQmCC);    
    background-repeat: repeat;
    font-family: helvetica, tahoma, arial, sans-serif;
    font-size: 10pt;
    overflow: auto;

  /* On WebKit browser disallow these functions -- might move this to mobile platforms only */
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

}



/* ==========================================================================
	Copied from SmartGWT-Mobile '.sc-rounded-panel' (panel.css)
	 - Removed background image references
	 - Set background-color
	 - Allow user selection
	 - Increased line-height to mimic paragraphs
*/

.eo-glossary-panel,
.word-lookup-panel,
.word-of-the-day-panel,
.espdic-panel {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: solid 1px rgba(204, 204, 204, 0.5);
    background-image:none;
    background-image:none;
    background-image:none;
    background-color:#f3f4d4;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 10px;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    line-height: 200%;
     -webkit-user-select: text;
}

/* Footer ================================================================================= */

div.footer-panel {
    position: relative;
    text-align: center;
    margin: 6px auto 0 auto;
}

div.footer-panel a {
    text-decoration: none;
    font-size: 9pt;
    color: #4c4c4c;
    text-shadow: #ffffff 0 1px 0;
}

div.footer-panel a:hover {
    color: #ffffff;
}

/* ========================================================================================= */

div.Mobile-Heading {
    position: static;
    padding: 1px 0 3px 12px;
    font-weight: bold;
    font-size: 17px;
    color: #4c4c4c;
    text-shadow: #ffffff 0 1px 0;
}



